
CRUD ( Create - Read - Update - Delete )
ANDRES FELIPE ACEVEDO GOEZ
•
Ayer (Última modificación: 16:16)
5 puntos
Fecha de entrega: 30 may
ACTIVIDAD 

1. Leer el documento el cual contiene información sobre lo que es el CRUD ( Create, Read, Update, Delete), crear, leer, actualizar y   
    eliminar.
2. Trabajar el ejercicio llamado "Ejercicio CRUD" farmacia, iniciaremos creando la base de datos.

CRUD Media 11°.docx
Word

estilo12.css
Hoja de estilo
Comentarios de la clase
Tu trabajo
Asignado
Comentarios privados
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-size: 20px;
	font-family: 'Noto Serif', serif;
}

nav{
	background:#2c3e50;
	height: 60px;
}
h1{
	color: white;
	padding: 5px 0 0 80px;
}
form{
	width: 45%;
	margin: 100px auto;
	text-align: left;
	padding: 20px;
	border:1px solid #bbbbbb;
	border-radius: 5px;
	
	}

.grupo{
	margin: 10px 0px 10px 0px;
}

.grupo label{
	display: block;
	text-align: left;
	margin: 3px;
	/*font-weight: bold;*/
}
.grupo input{
	width: 93%;
	height: 30px;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border:1px solid #bbbbbb;
}

.boton{
	padding: 10px;
	font-size: 15px;
	color: orange;
	background:#338DFF;
	border:none;
	color: white;
	border-radius: 5px;
	align-items: center;
	position: relative;
	/*margin: -2px 250px;*/
	left:120px;
	top: 2px;
}

.boton-one{
	padding: 10px;
	font-size: 15px;
	color: orange;
	background:#338DFF;
	border:none;
	color: white;
	border-radius: 5px;
	align-items: center;
	position: relative;
	/*margin: -2px 250px;*/
	left:600px;
	bottom:167px;
	outline: none;

}

button a{
        text-decoration: none;
        color: white;
    }
table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
}
tr:hover {
    background: #F5F5F5;
}

.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #3498db;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #ff0000;
}