*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
   background: url(../imagenes/ri.jpg);
    background-repeat: no-repeat;
 
}

.header{
    width: 100%;
    height: 65px;
    background-color:rgba(78, 77, 77, 0.877); 
    /*background-color: rgb(126, 213, 243 );*/
   /* background: #13D631;*/
    position: fixed;
}
.container{
    max-width: 1100px;
    margin: auto;
}
.logo{
    float: left;
    line-height: 65px;
    color: rgb(24, 22, 22);
}
.menu{
    float: right;
    line-height: 65px;
}
.menu ul{
    display: flex;
    list-style: none;
}

.menu a{
	font-weight: bold;
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: rgb(17, 17, 17);
   /* color: #6d6d6d;*/
    transition: all 500ms ease;
}
.menu a:hover{
    background: #cc673b;
    color: #fff;
}
.menu .submenu{
    background: #fff;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;
}
.menu .submenu li a{
    line-height: 50px;
}
.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
}

input{
    position: relative   ;
    top: 200px;
    left: 400px;
    height: 50px;
    width: 50%;
}
/*estilos para la portada*/

.box_admin{
	position: relative;
	left: 120px;
	top: 120px;
	width: 250px;
	height: 150px;
	background: rgba(250, 250, 250, 0.2);
	padding: 10px; 
}