* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --color-primary: #316131;
    --color-secondary: #459122;
    --color-green-1: green;

    --color-red-1: red;
    --color-red-2: orangered;

    --color-light-1: #fff;
    --color-light-2: #eff;
    --color-light-3: #eee;
    --color-light-4: #ddd;
    --color-light-5: #ccc;

    --color-light-green: #cefccc;
    --color-light-gray: silver;

    --color-gray-1: #999;
    --color-gray-2: gray;

    --color-dark-1: #111;
    --color-dark-2: #222;
    --color-dark-3: #333;
    --color-dark-4: #444;
    --color-dark-5: #555;

    --purple-dark-1: #211e25;
    --purple-dark-2: #343236;

    --color-dark-blue: #2e2e3f;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-image: url(../img/imagen8.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.section-wrap {
    padding: 2rem 3.6rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.section-title h1 {
    margin-top: 2rem;
    padding-bottom: 0.6rem;
    color: var(--purple-dark-2);
    font-size: 2rem;
    border-bottom: 2px dashed var(--color-light-gray);
}

.sub-section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sub-section-title p {
    margin-left: 0.4rem;
    color: var(--purple-dark-2);
    font-size: 1.4rem;
    font-weight: bold;
}

.sub-section-title a {
    margin-right: 0.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--color-red-2);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.sub-section-title a span {
    color: var(--color-red-2);
    font-size: 1rem;
    margin-left: 0.4rem;
}

.sub-section-title a:hover span {
    color: var(--color-red-2);
}

marquee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 1.4rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--color-light-1);
    background: rgba(0, 0, 0, 0.5);
}

marquee.about-marquee {
    margin-top: 1rem;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/background/green-bg.jpg');
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('img/background/green-bg.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/background/green-bg.jpg');
    background-size: cover;
    background-position: center;
}

header {
    height: auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9999;
}

header.active {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-animation: anime 0.4s ease;
    animation: anime 0.4s ease;
}

@-webkit-keyframes anime {
    0% {
        -webkit-transform: translateY(-10rem);
        transform: translateY(-10rem);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes anime {
    0% {
        -webkit-transform: translateY(-10rem);
        transform: translateY(-10rem);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4rem;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: var(--color-light-1);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-bottom: 1px solid var(--color-light-gray);
    z-index: 99999;
}

nav .logo {
    margin-left: 4rem;
}

nav .logo a {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

nav .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.menu-items li {
    margin-right: 2rem;
}

.menu-items li a {
    color: var(--color-dark-3);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-items li a:hover {
    color: var(--color-red-2);
}

.search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.2rem;
    width: 24rem;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.search-box .search-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 15%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--color-primary);
    border-radius: 0.1rem 0 0 0.1rem;
}

.search-box .search-icon span {
    color: var(--color-light-1);
    font-size: 1.2rem;
}

.search-box input {
    padding-left: 0.8rem;
    height: 100%;
    width: 80%;
    color: var(--color-dark-3);
    font-size: 1rem;
    border: none;
    outline: none;
    background: var(--color-light-3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 0.1rem 0.1rem 0;
}

.search-box input::-webkit-input-placeholder {
    font-size: 1rem;
}

.search-box input::-moz-placeholder {
    font-size: 1rem;
}

.search-box input:-ms-input-placeholder {
    font-size: 1rem;
}

.search-box input::-ms-input-placeholder {
    font-size: 1rem;
}

.search-box input::placeholder {
    font-size: 1rem;
}

nav .icon-links {
    margin-right: 2.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-links div {
    position: relative;
    margin-right: 1.6rem;
}

.icon-links div span {
    color: var(--color-dark-3);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}

.icon-links #search-btn {
    display: none;
}

.icon-links div #item-counter {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0.9rem, -0.8rem);
    -ms-transform: translate(0.9rem, -0.8rem);
    transform: translate(0.9rem, -0.8rem);
    display: none;
    height: 1.3rem;
    width: 1.3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--color-light-1);
    font-size: 0.8rem;
    background: var(--color-red-1);
    border-radius: 50%;
}
.menuCSS3 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menuCSS3 a {
    display: block;
    padding: 2em;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191C26;
}
.menuCSS3 a:hover {
    background-color: #CC673B;
}
.menuCSS3 ul li ul {
    display: none;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}
   /* efecto al pasar el ratón por los items del menu */


.icon-links div #item-counter.active-item-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo1{
    width: 10px;
    position: relative;
    right: 180px;
}
img{
    width: 60px;
}

@-webkit-keyframes anime {
    0% {
        -webkit-transform: translateY(-10rem);
        transform: translateY(-10rem);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes anime {
    0% {
        -webkit-transform: translateY(-10rem);
        transform: translateY(-10rem);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4rem;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: var(--color-light-1);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-bottom: 1px solid var(--color-light-gray);
    z-index: 99999;
}

nav .logo {
    margin-left: 4rem;
}

nav .logo a {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

nav .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    left: 200px;
}

.menu-items li {
    margin-right: 2rem;
}

.menu-items li a {
    color: var(--color-dark-3);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-items li a:hover {
    color: var(--color-red-2);
}

.search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.2rem;
    width: 24rem;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.search-box .search-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 15%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: var(--color-primary);
    border-radius: 0.1rem 0 0 0.1rem;
}

.search-box .search-icon span {
    color: var(--color-light-1);
    font-size: 1.2rem;
}

.search-box input {
    padding-left: 0.8rem;
    height: 100%;
    width: 80%;
    color: var(--color-dark-3);
    font-size: 1rem;
    border: none;
    outline: none;
    background: var(--color-light-3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 0.1rem 0.1rem 0;
}

.search-box input::-webkit-input-placeholder {
    font-size: 1rem;
}

.search-box input::-moz-placeholder {
    font-size: 1rem;
}

.search-box input:-ms-input-placeholder {
    font-size: 1rem;
}

.search-box input::-ms-input-placeholder {
    font-size: 1rem;
}

.search-box input::placeholder {
    font-size: 1rem;
}

nav .icon-links {
    margin-right: 2.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-links div {
    position: relative;
    margin-right: 1.6rem;
}

.icon-links div span {
    color: var(--color-dark-3);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}

.icon-links #search-btn {
    display: none;
}

.icon-links div #item-counter {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0.9rem, -0.8rem);
    -ms-transform: translate(0.9rem, -0.8rem);
    transform: translate(0.9rem, -0.8rem);
    display: none;
    height: 1.3rem;
    width: 1.3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--color-light-1);
    font-size: 0.8rem;
    background: var(--color-red-1);
    border-radius: 50%;
}
.menuCSS3 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menuCSS3 a {
    display: block;
    padding: 2em;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191C26;
}
.menuCSS3 a:hover {
    background-color: #CC673B;
}
.menuCSS3 ul li ul {
    display: none;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}
   /* efecto al pasar el ratón por los items del menu */


.icon-links div #item-counter.active-item-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#toggle-bar {
    position: relative;
    height: 1.6rem;
    width: 1.4rem;
    display: none;
}

#toggle-bar .toggler {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #2e2e3f;
    border-radius: 0.2rem;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#toggle-bar .toggler::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    top: -8px;
    left: 0;
    background: #2e2e3f;
    border-radius: 0.2rem;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#toggle-bar .toggler::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    top: 8px;
    left: 0;
    background: #2e2e3f;
    border-radius: 0.2rem;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#toggle-bar.active-toggler .toggler {
    background: transparent;
}

#toggle-bar.active-toggler .toggler::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#toggle-bar.active-toggler .toggler::after {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.forma{
    border: 2px solid whitesmoke;
    border-radius: 30px;
    position: absolute;
    width: 680px;
    left: 360px;
    height: 470px;
    top: 100px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.4));
}

h1{
    top: 20px;
    text-align: center;
    position: relative;
    color: #316131;

}

.inicio{
    left: 320px;
    position: relative;
}

.nombre{
    top: 80px;
    position: relative;
    left: 10px;
}

.desc{
    top: 20px;
    position: relative;
    left: 320px;    
}

.precio{
    top: -20px;
    position: relative;
    left: 10px;
}

.categoria{
    top: 10px;
    position: relative;
    left: 10px;
}

.redes{
    top: 50px;
    position: relative;
    left: 10px;
}

.prodc{
    top: -120px;
    position: relative;
    left: 325px;
}

.enviar{
    top: -90px;
    left: 510px;
    position: relative;
    border: 0px;
    width: 100px;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    background-color: #4BAE5C;
    border-radius: 30px;
}

.enviar:hover{
    background-color: aliceblue;
}

.campo1{
    width: 100px;
    position: relative;
}

/* Estilo básico para el elemento select */
.custom-select {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
  
  /* Cambiar el cursor al pasar el ratón sobre el select */
  .custom-select:hover {
    background-color: #f2f2f2;
  }
  
  /* Estilizar el icono de la flecha desplegable (puedes usar una imagen personalizada) */
  .custom-select::after {
    content: '\25BC'; /* Código Unicode para la flecha hacia abajo */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  /* Cambiar el estilo del borde cuando el select está enfocado */
  .custom-select:focus {
    outline: none;
    border-color: #007bff; /* Cambiar a tu color preferido */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Efecto de sombra al enfocar */
  }
  
  /* Estilo para las opciones dentro del select */
  .custom-select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
  }

  /* Estilo básico para el elemento input */
.custom-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }
  
  /* Cambiar el estilo del borde cuando el input está enfocado */
  .custom-input:focus {
    outline: none;
    border-color: #007bff; /* Cambiar a tu color preferido */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Efecto de sombra al enfocar */
  }
  
  /* Cambiar el estilo del borde cuando el input está deshabilitado */
  .custom-input:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
  }

  .custom-input1 {
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    width: 320px;
    height: 100px;
    overflow: hidden; /* Oculta el texto que se desborde */
    white-space: nowrap; /* Evita el salto de línea dentro del input */
  }
  
.insta{
    background-color: #1768DD;
    color: whitesmoke;
}

.wsp{
    background-color: #54DF3B;
    color: whitesmoke;
}

.boi{
    position: relative;
    top: 30px;
    left: 30px;
    width: 100px;
    height: 30px;
    background-color: #1ec41e;
    font-family: 'Raleway', sans-serif;

}

.btn{
    width: 80px;
    background-color: #4BAE5C;
    border: 0px;
	height: 40px;
    position: relative;
    left: 150px;
    font-family: 'Raleway', sans-serif;
}

.reset{
    position: relative;
    left: 245px;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    top: -90px;
    font-family: 'Raleway', sans-serif;
    background-color: #4BAE5C;
    border: 0px;
}

.reset:hover{
    background-color: #cefccc;
}

.mostro{
    width: 150px;
    height: auto;
    position: relative;
    top: -70px;
    left: 415px;
    text-decoration: none; 
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: #111;
}

button{
    background-color: #4BAE5C;
    color: #111;
    border: none;
    border-radius: 15px;
}

button:hover{
    background-color: #cefccc;
}