body{
    background-image: url(../img/arbol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

header{
    width: auto;
    height: 120px;
    background-color: #44AB56;
    margin: -15px;
}

h1{
    color: whitesmoke;
}

.tabla{
    text-align: center;
    background-color: antiquewhite;
    margin-top: 60px;
    width: 1335px;
}